.ui-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-5);
  padding-right: var(--space-5);
  box-sizing: border-box;
}

.ui-container--sm {
  max-width: 640px;
}

.ui-container--md {
  max-width: 960px;
}

.ui-container--lg {
  max-width: 1200px;
}

.ui-container--full {
  max-width: 100%;
}
